body {
    background-color: #3C3C3C;
    /* background-image: url('../assets/minecraft_background.png'); */
    color: #FFFFFF;
}

.md-nav__link {
    color: #228B22 !important;
}

.md-header {
    background-color: #3C3C3C;
    border-bottom: 3px solid #228B22;
}

.md-footer {
    background-color: #3C3C3C;
    border-top: 3px solid #228B22;
    color: #FFFFFF;
}

.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4 {
    color: #228B22;
}
